$color-white-0:white;
$color-white-1:#f5f5f5;
$color-black-0:black;
$color-blue-0:#007cc0;
$color-blue-1:#2398dd;
$color-blue-2:#00324f;
$color-blue-3:#2198dc;
$color-red-0:#e42525;
$line-height:2.5rem;
$fs-0:14px;
$fs-1:1.5em;
$fs-2:1.6rem;
$fs-3:4rem;
$fw-0:400;
$fw-1:600;
$fw-bold:bold;
$fw-normal:normal;
$breakpoints:( 'extra-large':1200px, 'large' :991px, 'medium':768px, 'small':576px, );