footer {
    .footer__top {
        margin-top: 5rem;
        background-color: #eeeeee;
        .footer__contents {
            width: 93%;
            margin: 0 auto;
            .footer__item__1 {
                border-top: 5px solid $color-blue-0;
                border-bottom: 1px solid #cdcdcd;
                img {
                    margin: 20px auto;
                    width: 138px;
                    height: 60px;
                    cursor: pointer;
                    transition: all 0.25s;
                }
            }
            .footer__item__2 {
                @include text(rgb(0, 50, 79), $fs-0, $fw-1);
                padding: 1rem 0;
                border-bottom: 1px solid #cdcdcd;
                i {
                    color: white;
                    text-align: center;
                    line-height: 30px;
                    width: 30px;
                    height: 30px;
                    background-color: $color-blue-1;
                    border-radius: 50%;
                    margin-left: 10px;
                    cursor: pointer;
                }
                .btn--1 {
                    position: absolute;
                    right: 2%;
                    bottom: 10%;
                    display: none;
                }
                .footer__search {
                    position: absolute;
                    left: 0%;
                    bottom: 7%;
                    background: unset;
                    color: $color-blue-1;
                }
                input {
                    margin-top: 2rem;
                    width: 450px;
                    padding: 10px 50px;
                    outline: none;
                    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, .15);
                    border-radius: 1.92rem;
                    border: none;
                    &::placeholder {
                        color: $color-blue-1;
                    }
                }
            }
            .footer__item__3 {
                padding-top: 2rem;
                justify-content: center;
                h6 {
                    margin-bottom: 1rem;
                    @include text(rgb(0, 50, 79), $fs-0 + 1, $fw-bold);
                }
                ul {
                    list-style: none;
                    li {
                        margin-bottom: 9px;
                        a {
                            color: black;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .footer__under {
        background-color: $color-blue-0;
        .footer__contents {
            width: 93%;
            margin: 0 auto;
            @include text($color-white-0, $fs-0 - 2, $fw-normal);
            .footer__item__4 {
                padding: 2rem 0;
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    li {
                        a {
                            border-left: 1px solid $color-white-0;
                            color: $color-white-0;
                            padding: 0 10px;
                        }
                        .border__none {
                            border: none;
                        }
                    }
                }
            }
            .footer__item__5 {
                justify-content: space-around;
                margin-bottom: 2rem;
                img {
                    width: 70px;
                    height: 60px;
                }
            }
        }
    }
    @include respond-to('large') {
        .footer__contents {
            .footer__item__2 {
                border: none !important;
                align-items: center;
                text-align: center;
                div:last-child {
                    text-align: center !important;
                }
            }
            .footer__item__4,
            .footer__item__6 {
                text-align: center;
                div:first-child {
                    text-align: center !important;
                }
                div:last-child {
                    ul {
                        justify-content: center;
                    }
                }
            }
            .footer__item__5 {
                .img__none {
                    display: none;
                }
            }
            .footer__item__3 {
                display: inline;
                div {
                    border-top: 1px solid #cdcdcd;
                }
                .accordion {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: unset !important;
                    background-color: #eeeeee;
                    cursor: pointer;
                    padding: 10px 5px 0 5px;
                    width: 100%;
                    text-align: left;
                    outline: none;
                    font-size: 15px;
                    transition: 0.5s;
                }
                .active {
                    background-color: $color-white-0;
                }
                .panel {
                    padding: 0 18px;
                    display: none;
                    background-color: $color-white-0;
                    overflow: hidden;
                }
                .icon__menu {
                    display: inline-block;
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                    border: 2px solid $color-blue-0;
                    border-radius: 50%;
                }
                .bar1 {
                    width: 15px;
                    height: 3px;
                    background-color: $color-blue-0;
                    transform: rotate(-90deg) translate(-9px, 3px);
                }
                .bar2 {
                    width: 15px;
                    height: 3px;
                    background-color: $color-blue-0;
                    transform: translate(3px, 6px);
                }
                .change .bar1 {
                    opacity: 0;
                }
            }
        }
    }
}